<div class="container">
    <h2 class="mt-3 mb-3 text-center">Table classes</h2>
    <div class="row">
        <div class="col-md-8 py-3">
            <table>
                <thead >
                    <tr>
                        <th>SL No</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>aaaa</td>
                        <td>ababa</td>
                        <td>ab@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>bbbb</td>
                        <td>bcbcbc</td>
                        <td>bc@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>cccc</td>
                        <td>cdcdcd</td>
                        <td>cd@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>eeee</td>
                        <td>efefef</td>
                        <td>ef@gmail</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8 py-3">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>1</td>
                        <td class="bg-warning">aaaa</td>
                        <td>ababa</td>
                        <td>ab@gmail</td>
                        
                    </tr>
                    <tr class="table-info">
                        <td>2</td>
                        <td>bbbb</td>
                        <td>bcbcbc</td>
                        <td>bc@gmail</td>
                        
                    </tr>
                    <tr class="table-success">
                        <td>3</td>
                        <td>cccc</td>
                        <td>cdcdcd</td>
                        <td>cd@gmail</td>
                        
                    </tr>
                    <tr class="table-warning">
                        <td>4</td>
                        <td>eeee</td>
                        <td>efefef</td>
                        <td>ef@gmail</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8 py-3">
            <table class="table table-dark table-hover table-responsive ">
                <thead >
                    <tr>
                        <th>SL No</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>aaaa</td>
                        <td>ababa</td>
                        <td>ab@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>bbbb</td>
                        <td>bcbcbc</td>
                        <td>bc@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>cccc</td>
                        <td>cdcdcd</td>
                        <td>cd@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>eeee</td>
                        <td>efefef</td>
                        <td>ef@gmail</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8 py-3">
            <table class="table table-light table-bordered table-striped table-hover ">
                <thead>
                    <tr>
                        <th>SL No</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>aaaa</td>
                        <td>ababa</td>
                        <td>ab@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>bbbb</td>
                        <td>bcbcbc</td>
                        <td>bc@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>cccc</td>
                        <td>cdcdcd</td>
                        <td>cd@gmail</td>
                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>eeee</td>
                        <td>efefef</td>
                        <td>ef@gmail</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>









<div class="container">
  <h2 class="text-center mt-3 mb-5">BootStrap list Group classes</h2>
  <div class="row">
    <div class="col-sm-2 py-3">
      <ul class="list-group">
        <li class="list-group-item">LIST ONE</li>
        <li class="list-group-item active ">LIST ONE</li>
        <li class="list-group-item">LIST ONE</li>
        <li class="list-group-item list-group-item-primary dropdown-toggle" data-toggle="dropdown">LIST ONE
        <div class="dropdown-menu">
            <a href="" class="dropdown-item">React</a>
            <a href="" class="dropdown-item">JS</a>
            <a href="" class="dropdown-item">Angular</a>
            <a href="" class="dropdown-item">vue</a>
            <a href="" class="dropdown-item">adonis</a>

        </div>
    </li>
        <li class="list-group-item list-group-item-secondary">LIST ONE</li>
        <li class="list-group-item list-group-item-danger">LIST ONE</li>
        <li class="list-group-item list-group-itemsuccess">LIST ONE</li>
        <li class="list-group-item disabled">LIST ONE</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center mt-3 mb-5">Button class</h2>
  <div class="row">
    <div class="col py-3">
      <a href="" class="btn btn-primary"
        ><i class="fa fa-bookmark" aria-hidden="true"></i>Primary</a
      >
      <a href="" class="btn btn-secondary btn-lg">secondary</a>
      <a href="" class="btn btn-outlined-success"
        ><i class="fa fa-battery-three-quarters" aria-hidden="true"></i
      ></a>
      <input
        type="button"
        class="btn btn-info btn-sm"
        value="InputInfo button"
      />
      <input type="submit" value="input Submit Button" />
      <input type="text" placeholder="please enter name" />
      <input type="reset" value="reset Input Button " class="btn btn-danger" />

      <button type="button" class="btn btn-warning">
        <i class="fa fa-address-book-o" aria-hidden="true"></i>warning
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 py-5">
      <a href="" class="btn btn-primary"> Submit</a>
    </div>
  </div>
</div>

<hr />
<div class="container">
  <h2 class="my-3 text-center text-uppercase">Text Formating Classes</h2>
  <div class="pink text-capitalize py-3 mx-auto">
    <h3 class="text-center text-capitalize">Sub heading</h3>
    <p class="justify-center fw-bold fst-italic">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, dolores ab?
      Quas est nostrum, rerum nihil id animi vero, ratione non itaque ab
      repudiandae laboriosam in reiciendis recusandae incidunt minima!
    </p>
  </div>
</div>

<div class="container g-0">
  <div class="row g-0">
    <div class="col-md-4 px-2 my-3">
      <div class="pink">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis et,
        quo velit soluta deleniti inventore autem similique quam voluptatem quae
        doloribus consequatur rerum quia iure. Dolores consectetur quam ipsam
        ratione.
      </div>
    </div>

    <div class="col-md-4 py-4 mx-0">
      <div class="green">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis et,
        quo velit soluta deleniti inventore autem similique quam voluptatem quae
        doloribus consequatur rerum quia iure. Dolores consectetur quam ipsam
        ratione.
      </div>
    </div>

    <div class="col-md-4 my-4">
      <div class="pink px-5 py-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis et,
        quo velit soluta deleniti inventore autem similique quam voluptatem quae
        doloribus consequatur rerum quia iure. Dolores consectetur quam ipsam
        ratione.
      </div>
    </div>
  </div>
</div>
<hr />

<div class="container clearfix">
  <div class="blue w-25 sticky-top">
    <h2>DIV A</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perspiciatis
    ab ducimus omnis vel, quia deserunt beatae amet atque in!
  </div>
  <div class="green fixed-top" style="width: 100px">
    <h3>FIXED TOP</h3>
  </div>
  <div class="green fixed-bottom" style="width: 120px">
    <h3>FIXED BOTTOM</h3>
  </div>

  <div class="pink w-75 float-end overflow-hidden" style="height: 150px">
    <h2>Div B</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nam nihil
    exercitationem quis omnis facilis in repellendus ullam officiis deserunt.
    Asperiores, pariatur deserunt quisquam assumenda eveniet quod ipsam d, totam
    quis ipsa minima? Cumque nulla minus quos maxime. Molestiae, ad vero. Quo
    culpa nesciunt ab inventore facilis in sed molestias laboriosam nulla,
    exercitationem autem aperiam, ullam velit enim corporis, eveniet officia
    impedit fugiat ducimus sunt et! Itaque officiis voluptatibus at, suscipit
    cumque sunt quo quia corporis magni debitis eaque vitae earum, voluptatum
    labore eum modi laborum expedita quam. Quia vero voluptatem reprehenderit
    commodi laboriosam expedita, nisi, neque ullam eum itaque cumque aliquam
    maxime quae unde molestiae cupiditate ipsam voluptatum. Natus, voluptates
    nihil. Voluptas, dignissimos voluptatem accusamus, vel, molestias distinctio
    voluptate minus odit autem pariatur deserunt architecto enim quos modi
    accusantium. Veniam perspiciatis fugiat similique veritatis corrupti quos!
    Praesentium aliquid incidunt delectus id voluptate odio voluptas sint. Ut,
    id at! Voluptate, expedita enim earum molestias quaerat qui atque rem,
    nostrum quod, possimus repudiandae aliquid error illo voluptas maiores eius
    aut dolorem nemo eligendi vitae odio quasi officia rerum consectetur. Iusto
    maiores molestiae officia doloribus minima dolorem laudantium accusamus et
    necessitatibus, consequatur inventore odit eos consequuntur dolores quos
    animi, dignissimos at aperiam omnis magni ratione repellat hic itaque
    tenetur. Obcaecati, voluptate! Perspiciatis quam porro minus ullam facilis,
    atque aliquam nam autem eaque odio quidem esse reprehenderit delectus
    voluptate eligendi quas beatae quaerat! Sed, unde omnis! Atque quis iure
    quaerat blanditiis nisi reprehenderit aspernatur eaque ab provident quidem
    culpa non quos, modi doloribus illo, voluptas placeat recusandae sint
    mollitia perferendis delectus ut laborum aliquid? Vitae voluptas optio
    facilis blanditiis aliquam nobis ut, consectetur ducimus nihil ex sed nam
    dolor exercitationem inventore neque dolorem, vero quod explicabo ratione
    sequi suscipit, laboriosam et. Dolor maiores explicabo veniam delectus
    quidem culpa quos consequuntur! Consectetur, quibusdam blanditiis corrupti
    nam facilis sequi deserunt cupiditate, sint quisquam placeat aspernatur
    laboriosam repellat modi molestias? Eligendi esse architecto quo dolorem
    officiis dignissimos, accusantium assumenda qui magni sit voluptatum
    laudantium saepe provident vel eum veritatis quod! Non nesciunt, unde enim
    velit veritatis, sed quo vitae ipsa quis at odit harum itaque? Perferendis
    odio cupiditate nihil aperiam quia ratione perspiciatis laborum aspernatur
    numquam omnis, minima, eligendi fugit veniam? Quia ea dolorem iusto sapiente
    officiis veniam cupiditate fugit ratione ex porro odit provident, aliquam
    assumenda reiciendis ut aspernatur dignissimos nostrum quis iste iure?
    Dolorem est maxime vero, atque architecto perferendis. Tempora,
    necessitatibus. Quod doloribus provident omnis. Atque voluptatum neque
    soluta nesciunt fugiat numquam. Repellendus vel nobis minus, obcaecati
    laborum totam ipsum enim? Rerum vel eius, accusantium tempore sed expedita
    nesciunt unde quis consequuntur dolor saepe at similique suscipit tenetur
    nulla aliquid placeat amet, quo, sunt excepturi. Ab delectus, perferendis id
    quia culpa quam explicabo ex reiciendis perspiciatis debitis aut, in
    blanditiis. Reprehenderit, fugiat perferendis. Totam, possimus atque vero
    voluptas architecto cum tempore debitis vitae cumque dicta accusamus laborum
    illo eveniet, repellendus ipsum voluptatum laudantium optio iste? Provident
    harum magnam sapiente nulla doloremque, molestiae architecto ab pariatur
    voluptatibus. Fugit, officia! Natus itaque error, ad debitis odit sit nisi
    beatae accusantium, voluptate fugit ipsum reprehenderit eius maxime,
    veritatis unde sequi ducimus possimus. Ducimus, cupiditate reiciendis porro
    vel quidem accusantium amet iste beatae accusamus quaerat numquam impedit
    dolorem magnam a natus nobis, adipisci ad, maxime doloribus. Suscipit
    voluptate ex earum corporis doloribus ad fugit tenetur blanditiis quisquam
    nesciunt, magnam pariatur non repellat impedit quos aut minima quod deserunt
    voluptatum reiciendis maiores est possimus itaque. Maiores iusto beatae,
    nobis officiis error sunt asperiores praesentium blanditiis animi delectus,
    in deserunt vel, unde sed eaque. Quas amet quaerat libero enim. Quisquam
    aspernatur tempora nisi, quos ea architecto vitae dicta nulla molestiae,
    placeat itaque deleniti quasi quo! Autem atque minima reiciendis ullam
    dolor, nisi perferendis incidunt ipsum voluptate praesentium nihil totam vel
    commodi repudiandae! Eaque, totam reprehenderit harum suscipit recusandae
    dolor quo assumenda ipsa facere, rem repudiandae ipsum sed labore ullam eum
    sunt molestias esse nisi! Atque laudantium perferendis architecto, autem
    aliquid veritatis reprehenderit ipsa dolorem excepturi voluptatem laboriosam
    dolor corrupti vitae, aspernatur voluptatum quas itaque enim amet? Veniam
    fuga ducimus natus, quo velit suscipit veritatis obcaecati commodi neque
    accusamus ab rerum necessitatibus quidem ad cumque nisi esse! Nulla, enim
    corrupti cupiditate porro culpa eveniet harum est ducimus in dolores earum
    repellat voluptatibus magni exercitationem quaerat. Eligendi eaque optio
    ullam consequuntur, alias distinctio provident explicabo minus sit
    doloremque, perspiciatis illo accusantium quasi voluptas odio sunt expedita
    excepturi ab repellendus ex quas enim. Laudantium error enim exercitationem
    ea cum maiores expedita necessitatibus tempora labore, deleniti sapiente
    culpa provident ipsa totam illo maxime eum, et itaque laborum dicta repellat
    odit dolorum est ab! Accusantium odio nemo sit ratione eum nobis sunt veniam
    ut omnis consectetur recusandae ipsa et est unde dolore tempora totam,
    dignissimos necessitatibus? Quibusdam hic qui laudantium quae similique
    optio possimus blanditiis doloremque accusantium. Tempora assumenda, saepe,
    animi vel ab, suscipit illum soluta consectetur non ipsum itaque eum!
    Pariatur alias mollitia quibusdam optio voluptas velit quas excepturi
    asperiores necessitatibus? Sequi nisi facere totam dolorum maiores repellat
    architecto nesciunt mollitia iusto ea? Numquam saepe eius temporibus porro
    quia, voluptas libero commodi voluptatem doloremque obcaecati nobis
    accusamus maiores rem optio, sit quas iste aspernatur aliquam cumque ad
    autem doloribus nisi. Ducimus hic illo harum adipisci ipsum voluptatem
    cupiditate nostrum sit saepe cum mollitia delectus distinctio dolore quo
    dolores et, corporis rerum libero nulla quasi, consectetur numquam tempore?
    Eius.
  </div>
</div>

<div class="container-fluid clearfix" style="border: 1px solid black">
  <div class="green w-25 float-lg-start float-sm-end vw-100">
    <h4>DIV A</h4>
    Lorem ipsum dolor sit amet.
  </div>
  <div class="pink w-25 float-lg-end float-sm-start vh-100">
    <h4>DIV B</h4>
    Lorem ipsum dolor sit amet.
  </div>
</div>

<div class="container">
  <div class="row align-content-between" style="height: 1000px">
    <div class="col-md-3 orange">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vero laborum
      cupiditate consectetur labore error facilis quia esse tempore dolor
      officia consequuntur, earum optio corrupti, debitis sapiente reiciendis
      modi quis?
    </div>
    <div class="col-md-5 blue">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
      voluptatum, culpa autem quam commodi hic reprehenderit amet doloremque
      tempore tempora? Numquam possimus perspiciatis praesentium rem doloribus
      similique illum quasi, nisi accusantium fugit veritatis at consequuntur
      recusandae aliquid, aut aliquam officiis illo earum omnis itaque delectus.
      Totam quas commodi eos nulla.
    </div>
    <div class="col-md-7 pink">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, non sed
      obcaecati qui perferendis dolorum eaque voluptatibus tenetur labore
      dolorem provident quo nemo repellat! Iste ipsum ad accusantium rerum a
      culpa distinctio, asperiores, minus maxime totam rem, commodi dolorem sint
      maiores quas consectetur ipsam nihil dolor fuga! Rerum ullam itaque
      voluptate eaque? Non dolorem maxime sint, dolore repellendus nobis
      cupiditate veniam sunt nemo enim eveniet sed, quasi optio suscipit
      repellat.
    </div>
    <div class="col-md-4 green">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto at eius
      dolores cum blanditiis adipisci ut magni accusantium deserunt, voluptate
      natus dicta. Aliquid, necessitatibus. Magnam labore voluptate quisquam
      quis obcaecati, hic tempore, ratione optio consequatur modi ad, delectus
      facere eaque!
    </div>
    <div class="col-md-8 grey">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque non
      consequatur omnis cupiditate, nesciunt corrupti nihil nulla quia, odit eos
      ipsum maxime enim quo rem iusto eaque ipsam id veritatis quas autem cum.
      Voluptatem laboriosam perferendis quidem totam, voluptatibus nam doloribus
      ut alias quibusdam omnis? Error officia possimus atque ipsam neque ullam
      quos repudiandae ipsa iure adipisci. Architecto quasi alias dolor. Totam
      delectus eveniet ipsum sint illum veniam et consequatur consequuntur
      quibusdam aspernatur tenetur officia, obcaecati expedita maiores odit in.
    </div>
  </div>
</div>
<hr />

<!-- <div class="container-fluid">
  <div class="row row-cols-1">
    <div class="col">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto fugiat eum
      temporibus quod debitis facere eaque? Nam, reprehenderit tempora! Maxime.
    </div>
    <div class="col">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto fugiat eum
      temporibus quod debitis facere eaque? Nam, reprehenderit tempora! Maxime.
    </div>
  </div>
  <div class="row">
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rem tempora
      ab nam. Nisi incidunt, accusamus voluptatem veniam alias itaque!
    </div>
  </div>
</div>
<hr />
<hr />
<div class="container">
  <div class="row">
    <div class="col-md">
      COL1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt,
      soluta? Voluptatibus, odio dolores et qui, rem fugit, facere cumque est
      explicabo distinctio inventore sit illum eum voluptatum molestias
      laudantium. Dolor!f
    </div>
    <div class="col-md">
      COL2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sed
      optio perspiciatis, consequatur tempora quo autem veniam sunt repudiandae
      debitis!
    </div>
    <div class="col">COL3</div>
    <div class="col">COL4</div>
  </div>
  <div class="row">ROW2</div>
  <div class="row">ROW3</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, totam!
    </div>
    <div class="col-7">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos aliquid
      quisquam earum laudantium illo placeat illum explicabo nostrum esse
      aperiam.
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
      corrupti.
    </div>
    <div class="col-6">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro
      eaque enim a et perspiciatis obcaecati?
    </div>
    <div class="col-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vitae
      repellat, illum repudiandae aliquam voluptatem eveniet fugit consectetur
      aut totam!
    </div>
  </div>
</div> -->

<!-- .container-fluid or .container -->
<!-- <div class="container-fluid" id="body">
  <div class="row">
    <div class="col-12" id="header">
      <h1>My Website</h1>
    </div>
  </div> -->
<!-- .row -->
<!-- <div class="row"> -->
<!-- .col-12 -->
<!-- <div class="col-12" id="menue"> -->
<!-- ul>li*5>a -->
<!-- <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Galary</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" id="sidebar">
        <ul>
            <li><a href="">aaaa</a></li>
            <li><a href="">ssss</a></li>
            <li><a href="">dddd</a></li>
            <li><a href="">ffff</a></li>
            <li><a href="">gggg</a></li>
        </ul>
    </div>
    <div class="col-md-6" id="content">
      <h2>Sub Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut vitae
        earum eum. Beatae animi hic totam quam neque recusandae. Earum nisi
        porro ut repellat esse pariatur similique at perspiciatis eum nihil
        molestiae harum amet ad iure possimus rem fugit corrupti, alias atque.
        Numquam, provident! Quasi ipsam, repudiandae ab adipisci quod dolorum,
        nam dolores voluptatum dolorem eius laudantium maxime omnis quia quae
        facere accusantium quis, vitae ipsum modi facilis repellendus
        aspernatur. Similique iure quidem rem consequuntur et, voluptatibus
        nihil itaque laudantium consectetur modi. Aut vitae quam reiciendis
        placeat hic dolorum ad consequatur iusto voluptatem accusamus ipsum
        explicabo voluptate maiores itaque minus dolorem similique quaerat magni
        commodi quos voluptatum doloremque, voluptates tenetur saepe.
        Voluptatibus eveniet incidunt nesciunt ratione laboriosam, laborum
        nihil, libero inventore dolorem illo architecto?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut vitae
        earum eum. Beatae animi hic totam quam neque recusandae. Earum nisi
        porro ut repellat esse pariatur similique at perspiciatis eum nihil
        molestiae harum amet ad iure possimus rem fugit corrupti, alias atque.
        Numquam, provident! Quasi ipsam, repudiandae ab adipisci quod dolorum,
        nam dolores voluptatum dolorem eius laudantium maxime omnis quia quae
        facere accusantium quis, vitae ipsum modi facilis repellendus
        aspernatur. Similique iure quidem rem consequuntur et, voluptatibus
        nihil itaque laudantium consectetur modi. Aut vitae quam reiciendis
        placeat hic dolorum ad consequatur iusto voluptatem accusamus ipsum
        explicabo voluptate maiores itaque minus dolorem similique quaerat magni
        commodi quos voluptatum doloremque, voluptates tenetur saepe.
        Voluptatibus eveniet incidunt nesciunt ratione laboriosam, laborum
        nihil, libero inventore dolorem illo architecto?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aut vitae
        earum eum. Beatae animi hic totam quam neque recusandae. Earum nisi
        porro ut repellat esse pariatur similique at perspiciatis eum nihil
        molestiae harum amet ad iure possimus rem fugit corrupti, alias atque.
        Numquam, provident! Quasi ipsam, repudiandae ab adipisci quod dolorum,
        nam dolores voluptatum dolorem eius laudantium maxime omnis quia quae
        facere accusantium quis, vitae ipsum modi facilis repellendus
        aspernatur. Similique iure quidem rem consequuntur et, voluptatibus
        nihil itaque laudantium consectetur modi. Aut vitae quam reiciendis
        placeat hic dolorum ad consequatur iusto voluptatem accusamus ipsum
        explicabo voluptate maiores itaque
        explicabo voluptate maiores itaque
        ?
      </p>
    </div>
    <div class="col-md-3" id="sidebar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Galary</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="footer">
        @copyright 2020
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-2 pink offset-md-1 offset-xl-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tempora?
    </div>
    <div class="col-md-5 blue offset-md-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ipsum
      distinctio aliquam iusto perspiciatis a voluptas maiores, voluptatibus
      asperiores dolorem labore porro ad sint facere nostrum officiis, enim,
      magnam provident?F
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 pink">COLUMN 1</div>
    <div class="col-md-3 blue">COLUMN 2</div>
    <div class="col-md-3 pink">COLUMMN 3</div>
    <div class="col-3 orange">COLUMN 4</div>
  </div>
</div>
<!-- till medium screen the ordering will work but if we change the screen size to small it will not work
the column will arrange in the same order. -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 pink order-md-last">COLUMN 1</div>
    <div class="col-md-3 blue">COLUMN 2</div>
    <div class="col-md-3 pink">COLUMMN 3</div>
    <div class="col-3 order-md-first orange">COLUMN 4</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2 blue">Column1</div>
    <div class="col-md-2">Column2</div>
    <div class="col-md-2 pink">Column-3</div>
    <div class="col-md-2">Column-4</div>
    <div class="col-md-2 green">Column-5</div>
    <div class="col-md-2 orange">Column-6</div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-2 blue order-md-2">Column1</div>
    <div class="col-md-2 order-md-5">Column2</div>
    <div class="col-md-2 pink order-md-1">Column-3</div>
    <div class="col-md-2 order-md-4">Column-4</div>
    <div class="col-md-2 green order-md-0">Column-5</div>
    <div class="col-md-2 orange order-md-3">Column-6</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 pink">
      <h1>This is Column 1</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cupiditate
      ipsum eaque optio commodi consequuntur, esse at id, dolorum officiis
      reiciendis cum sit accusantium sapiente sunt, deserunt nam culpa deleniti!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sed
      explicabo fugit ducimus voluptas sunt nihil aut consequuntur obcaecati.
      Minus.
    </div>
    <div class="col-md-2 grey">
      <h1>This is Column2</h1>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, velit?
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col pink">
      <h1>This is Main Heading</h1>

      <div class="row">
        <div class="col-md-6 col">
          <h1>This is Column 1</h1>
          <h3>Sub Heading</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum a
            vero non iure perferendis corrupti! Quaerat fugit, labore qui
            possimus temporibus maxime praesentium amet numquam et, ipsum ea.
            Dolor nobis, ipsam deserunt unde quod repellendus impedit modi nemo
            in aspernatur!
          </p>
        </div>
        <div class="col-md-6 col">
          <h1>This is Column 2</h1>
          <h3>Sub Heading</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ullam
            iste, nobis laudantium rerum cupiditate amet. Dolore consectetur
            dolor voluptates quia blanditiis ipsam dolorum, id nulla facilis non
            reiciendis voluptatum vero mollitia, laboriosam iusto at, labore
            magni autem debitis sapiente.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 grey">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, sunt?
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-between pt-md-5">
    <div class="col-md-3 pink">Lorem ipsum dolor sit amet.</div>
    <div class="col-md-3 blue">Lorem ipsum dolor sit amet.</div>
    <div class="col-md-3 grey">Lorem ipsum dolor sit amet.</div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row align-items-end">
    <div class="col-md-5 pink">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quae animi
      commodi molestiae accusantium laudantium perferendis dignissimos impedit,
      consequuntur incidunt repellat dolorum sapiente, mollitia repudiandae
      natus! Culpa a cum quam sit perferendis, et eius earum recusandae iure?
      Dolores explicabo doloremque delectus ullam reiciendis, quidem laboriosam.
      Quidem iure facere hic sint.
    </div>
    <div class="col-md-2 green">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ullam!
    </div>
    <div class="col-md-5 pink">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
      molestias qui, dolore iure ex impedit ea ullam cumque voluptatibus veniam
      quisquam nostrum ratione libero magnam totam exercitationem odio officia
      cupiditate labore perspiciatis ipsam unde provident?
    </div>
  </div>
</div>
